/** chrome/safari */
.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

/** firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/** IE/Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}
